---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

header {
    padding: 10px 0px;
}
footer {
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 14px;
}
